In [ ]:
'''
Data And Time Is Also Categorical Variables.But we will always give Some Respect to get more insights in the form of data.
'''

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# let's load the Lending Club dataset with a few selected columns

use_cols = ['loan_amnt', 'grade', 'purpose', 'issue_d', 'last_pymnt_d']

data = pd.read_csv('loan.csv', usecols=use_cols)

data.head()

   loan_amnt grade   issue_d             purpose last_pymnt_d
0       2500     C  Dec-2018  debt_consolidation     Feb-2019
1      30000     D  Dec-2018  debt_consolidation     Feb-2019
2       5000     D  Dec-2018  debt_consolidation     Feb-2019
3       4000     D  Dec-2018  debt_consolidation     Feb-2019
4      30000     C  Dec-2018  debt_consolidation     Feb-2019

In [3]:
data.dtypes     #Only Loan_amnt is Numerical Variable

loan_amnt        int64
grade           object
issue_d         object
purpose         object
last_pymnt_d    object
dtype: object

In [5]:
#Parse String to date and time Format
data.issue_d = pd.to_datetime(data.issue_d)

In [6]:
data.head()

   loan_amnt grade    issue_d             purpose last_pymnt_d
0       2500     C 2018-12-01  debt_consolidation     Feb-2019
1      30000     D 2018-12-01  debt_consolidation     Feb-2019
2       5000     D 2018-12-01  debt_consolidation     Feb-2019
3       4000     D 2018-12-01  debt_consolidation     Feb-2019
4      30000     C 2018-12-01  debt_consolidation     Feb-2019

In [ ]:
#In Future You Should Again Explore More insights in the form of Date.