In [ ]:
# in training data some values not avilable,then in test result we will get missing values, so it's important to handle with
#Categorical Variable

In [1]:
import pandas as pd
import datetime

In [ ]:
#If two Labels values are same then might be we will miss some important information

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
# read the csv File
data = pd.read_csv('train.csv', usecols=['X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'y'])
data.head()

        y X1  X2 X3 X4 X5 X6
0  130.81  v  at  a  d  u  j
1   88.53  t  av  e  d  y  l
2   76.26  w   n  c  d  x  j
3   80.62  t   n  f  d  x  l
4   78.02  v   n  f  d  h  d

In [4]:
# let's have a look at how many labels

for col in data.columns[1:]:
    print(col, ': ', len(data[col].unique()), ' labels')

X1 :  27  labels
X2 :  44  labels
X3 :  7  labels
X4 :  4  labels
X5 :  29  labels
X6 :  12  labels

In [ ]:
#Important
'''
When doing count transformation of categorical variables, 
it is important to calculate the count (or frequency = count/total observations) over the training set,
and then use those numbers to replace the labels in the test set.
'''

In [5]:
X_train, X_test, y_train, y_test = train_test_split(data[['X1', 'X2', 'X3', 'X4', 'X5', 'X6']], data.y,
                                                    test_size=0.3,
                                                    random_state=0)
X_train.shape, X_test.shape

((2946, 6), (1263, 6))

In [ ]:
# let's obtain the counts for each one of the labels in variable X2

In [6]:
X_train.X2.value_counts().to_dict()

{'as': 1155,
 'ae': 342,
 'ai': 289,
 'm': 284,
 'ak': 188,
 'r': 101,
 'n': 97,
 's': 63,
 'e': 61,
 'f': 59,
 'aq': 46,
 'ay': 40,
 'a': 34,
 't': 17,
 'k': 16,
 'i': 15,
 'ag': 15,
 'z': 14,
 'd': 12,
 'b': 12,
 'ao': 10,
 'ac': 10,
 'g': 10,
 'y': 8,
 'x': 8,
 'at': 5,
 'ap': 5,
 'h': 4,
 'an': 3,
 'al': 3,
 'q': 3,
 'ah': 3,
 'au': 3,
 'aw': 2,
 'av': 2,
 'o': 1,
 'p': 1,
 'c': 1,
 'am': 1,
 'l': 1,
 'aa': 1,
 'af': 1}

In [7]:
X_train.head()

      X1  X2 X3 X4 X5 X6
3059  aa  ai  c  d  q  g
3014   b   m  c  d  q  i
3368   o   f  f  d  s  l
2772  aa  as  d  d  p  j
3383   v   e  c  d  s  g

In [8]:
#Replace each label with count

X_frequency_map = X_train.X2.value_counts().to_dict()

In [9]:
#We replcace X2 label with training Set And Test Set

X_train.X2 = X_train.X2.map(X_frequency_map)
X_test.X2 = X_test.X2.map(X_frequency_map)

In [10]:
X_train.head()

      X1    X2 X3 X4 X5 X6
3059  aa   289  c  d  q  g
3014   b   284  c  d  q  i
3368   o    59  f  d  s  l
2772  aa  1155  d  d  p  j
3383   v    61  c  d  s  g

In [11]:
X_test.head()

      X1      X2 X3 X4 X5 X6
3431   l  1155.0  f  d  r  d
2131  aa    59.0  c  d  l  l
2680   e  1155.0  c  d  m  j
195    r   101.0  f  d  i  a
3032  aa   284.0  c  d  q  j

In [ ]:
# It's famous in Kaggle but you have deal with Rare values. You Alredy Deal with Categorical Variable here.